.page-break {
	page-break-before: always;
	page-break-after: always;
}

.pagedjs_pages .chapter .no-indent p {
	text-indent: 0;
}

.tocsection-6 {
	page-break-before: always;
	margin-top: 0 !important;
}
.chapter .chapter-acknowledgements h2 #acknowledgements {
	margin-left: -1em;
}

.chapter-end {
	page: chapter-end;
}

@page chapter-end {
	@top-center {
    content: "";
  }
	/*@bottom-center {*/
	/*	content: "";*/
	/*}*/
	@top-left {
    content: "";
  }
	@top-right {
    content: "";
  }
}