/* Pagedjs/paged media specific styles */

@page {
  size: 110mm 200mm;
  /*148mm 210mm;*/
  margin-top: 20mm;
  margin-right: 20mm;
  margin-bottom: 25mm;
  margin-left: 15mm;
  /* bleed: 6mm;
   marks: crop cross; */
  @bottom-center {
    /* // content: string(titleBefore) ". " string(title, first); */
    content: string(title, first);
  }
  @top-left {
    content: string(title);
    text-transform: uppercase;
  }
  @footnote {
    float: bottom;
  }
}

@page:first {
  color: white !important;
  background-color: var(--color-main);
  @top-left {
    content: "";
  }
  @bottom-right-corner {
    content: "";
  }

  a {
    color: white;
  }
}

@page:left {
  @bottom-left-corner {
    content: counter(page);
  }
}

@page:right {
  @bottom-right-corner {
    content: counter(page);
  }
}

.pagedjs_page {
	background-color: transparent;
}
/* // .pagedjs_page {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px);
//   background-size: auto 1rem;
// } */

.pagedjs_page_content {
  /* // background-image: linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px);
  // background-size: auto 1rem; */
  background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent calc(1rem - 1px), rgba(255,0,0,0.1) calc(1rem - 1px), rgba(255,0,0,0.1) 1rem);
}

.pagedjs_footnote_area {
  @include plumber($baseline: 0.065, $font-size: 0.7, $line-height: 1);
}

.pagedjs_margin-bottom-left-corner,
.pagedjs_margin-bottom-right-corner {
  font-size: 1.5rem;
  font-family: Ortica, serif;
}

/* Setting variables */
h1#title {
  string-set: title content(text);
}


h2 {
  counter-increment: countChapter;
  string-set: titleBefore content(before), title content(text);
}

h2::before {
  content: "Chapter "counter(countChapter, upper-roman) " : ";
}

.chapter-bodies p{
	--color-main: red;
}

.chapter {
	color: var(--color-main);
}

/* 
@page:left {
  margin-right: 0mm;
}

@page:right {
  margin-left: 0mm;
}

.note {
  position: note(notes);
  outline: 1px dotted red;
}

@page {
  @note-area {
    content: element(notes, all-once);
  }
}
*/
