/* 
This document contains the general styling for the Making Matters book.
Styles can be overwritten from the CSS view in the wiki 
*/

@import "./vendor/plumber";
@include plumber-set-defaults(
    $grid-height: 0.5rem,
    $baseline: 0.065,
    $font-size: 2,
    $line-height: 3,
    $leading-top: 2,
    $leading-bottom: 2
);

/* Fonts */
@import "font-literata";
@import "font-ortica";
/* Paged and print specific styles are collected in paged.css */
@import "paged";

/* General styling */
html {
  font-size: 62.5%;
}

body {
  /* font-family: Authentic, sans-serif; */
  font-family: Literata, serif;
  font-weight: 200;
  color: var(--color-main);
}

h1, h2 {
	font-family: Ortica, serif;
}

h1 {
	page-break-before: left;
}

h2 {
	page-break-before: right;
}

.pagedjs_pages {
  p, .note, blockquote {
    @include plumber(
      // $baseline: 0.065,
      // $font-size: 1,
    );
  }
}

sup { vertical-align: top; position: relative; top: -0.5em; }

/* 
.container p,
.container .note {
    @include plumber(
      $baseline: 0.065,
      $font-size: 1,
    );
  }
} */



h1,h2,h3,h4 {
  font-family: Authentic, sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: black;
}

/* Generic css */

.chapter {
  break-before: right;
}


/* Show url of a tags */
/* a::after {
content: " (" attr(href) ")";
} */

h1 {
  string-set: title content(text);
}

img {
  max-width: 100%;
}

/* 
a[rel=author] {
position: absolute;
bottom: 0mm;
color: white;
text-decoration: none;
}
*/
