wiki/mediawiki
.DS_Store
preview/web-interface/static/images
__pycache__
venv
Icon*
plugins/*
preview/web-interface/.vscode/configurationCache.log
preview/web-interface/.vscode/dryrun.log
preview/web-interface/.vscode/settings.json
preview/web-interface/.vscode/targets.log
backups
