{% extends "base.html" %} 

{% block content %}
<div id="index">
	<br>
	<h1>{{ title }}</h1>
	<p>	publications in namespace <em>{{ namespace }}</em>:</p>
	<table>
		<tr {% for page in allpages %}>
			<td>{{ page.title }}</td>
			<td>
				<a 
					title="Edit in MediaWiki"
					href="{{ '/wiki/'+ namespace + ':' + page.slug }}"
				>
					wiki
				</a>
			</td>
			<td>
				<a 
					title="Inspect HTML & CSS"
					href="{{ '/inspect/'+ page.slug }}"
				>
					inspect
				</a>
			</td>
			<td>
				<a 
					title="View PDF with PagedJS"
					href="{{ '/pagedjs/'+ page.slug }}"
				>
					pdf
				</a>
			</td>
		</tr {% endfor %}>
	</table>
</div>
{% endblock %}
