{% extends "base.html" %} 

{% block content %}
<div id="index">
	<br>
	<h1>{{ title }}</h1>
	<p>Publications are in namespaces <em>{{ subject_ns["name"] }}</em> and <em>{{ styles_ns["name"] }}</em>.</p>
	<table>
		<tr>
			<th>
				title
			</th>
			<th colspan="4">
				actions
			</th>
			<th>
				last updated
			</th>
		</th>
		<tr {% for page in allpages %}>
			<td>{{ page.title }}</td>
			<td>
				<a 
					title="Edit in MediaWiki"
					href="{{ '/wiki/'+ subject_ns['name'] + ':' + page.slug }}"
				>
					wiki
				</a>
			</td>
			<td>
				<a 
					title="Inspect HTML & CSS"
					href="{{ '/inspect/'+ page.slug }}"
				>
					inspect
				</a>
			</td>
			<td>
				<a 
					title="View PDF with PagedJS"
					href="{{ '/pagedjs/'+ page.slug }}"
				>
					pdf
				</a>
			</td>
			<td>
				<a 
					title="Update publication"
					href="{{ '/update/'+ page.slug }}"
				>
					update
				</a>
			</td>
			<td>
				<span class="updated">
					{{ page.updated }}
				</span>
			</td>
		</tr {% endfor %}>
	</table>
{% endblock %}
