/* CSS placed here will be applied to all skins */

#ca-css,
#ca-content,
#ca-content {
	order: 100;
}

#ca-css > a,
#ca-content > a,
#ca-js > a {
    padding: 0.5rem;
    color: #fff;
}

#ca-content > a {
    background-color: green;
}
#ca-css > a {
    background-color: #ff10c3;
}
#ca-js > a {
    background-color: orange;
}

#ca-css > a::after,
#ca-content > a::after,
#ca-js > a::after {
	margin-right: 0;
	width: 0;
	opacity: 0;
}

#ca-nstab-publishing,
#ca-talk,
#ca-nstab-publishingjs {
	display: none;
}
