attrs==21.4.0
beautifulsoup4==4.11.1
bs4==0.0.1
charset-normalizer==2.0.12
click==7.1.2
Flask==2.0.3
Flask-Plugin==0.1.0
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.6.0
MarkupSafe==2.1.1
nltk==3.7
pyrsistent==0.18.1
regex==2022.6.2
requests==2.28.0
soupsieve==2.3.2.post1
supervisor==4.2.4
tqdm==4.64.0
urllib3==1.26.9
Werkzeug==2.1.2
zipp==3.8.0
