<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<script src="./js/paged.js" type="text/javascript"></script>
	<script src="./js/paged.polyfill.js" type="text/javascript"></script>
	<link href="./css/pagedjs.css" rel="stylesheet" type="text/css">
	<link href="./css/print.css" rel="stylesheet" type="text/css" media="print">
	<!-- <link href="./css/baseline.css" rel="stylesheet" type="text/css" media="print"> -->
	<!-- <script src="./js/p5.js" type="text/javascript"></script> -->
	<!-- <script src="./js/multi-remix.js" type="text/javascript"></script> -->
</head>
<body>
	<div id="wrapper">
		{{ publication_unfolded }}
	</div>
</body>

</html>