@page {
  size: 15cm 20cm; /*8.5in 11in;*/
  margin: 20mm 25mm;
  /* marks: crop; */

  @top-center {
    vertical-align: bottom;
    padding-bottom: 10mm;
    content: string(booktitle);
  }
}

/* define what are the footnotes elements */

.footnote {
	float: footnote;
}

/* define the position of the footnote on the page (only bottom is possible for now) */

@page {
	@footnote {
		float: bottom;
	}
}

/* ::footnote-call {
	content: counter(footnote, loweralpha);
	color: red;
	font-weight: 700;
	font-size: 3em;
	line-height: 0;
}

::footnote-marker {
	content: counter(footnote, loweralpha) ". ";
	color: red;
	font-weight: 700;
	font-size: 3em;
	line-height: 0;
} */


.pagedjs_page {
	background-color: transparent;
}

